/** css for button **/
span.slider-link a {
  @include mobile {
    padding: 5px 10px;
    font-size: 10px;
  }
  padding: 10px 20px;
  min-width: 250px;
  background: transparent;
  border-radius: 5px;
  margin-top: 8em;
  color: $white;
  text-transform: capitalize;
  font-size: 20px;
  border: 2px solid $white;
  position: relative;
  transition: 0.9s all linear;
  &:hover {
    background: $white;
    color: $black;
  }
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    background: $white;
    opacity: 0.2;
    border-radius: 5px;
    border: 2px solid $white;
    top: 0;
    left: 0;
    position: absolute;
  }
}
.form-submit {
  background-color: #0678be;
  height: auto !important;
  font-size: 20px;
}