#footer{
	background: url("../images/images.jpg") repeat scroll 0 0;
	.section-full-colored {
		.section-content {
    		background: none;
        }
    }
    h2{
    	color: $black;
    }
    li{
    	a{
    		color: $black;
    	}
    }
}