#footer{
	.section-full-colored {
		.section-content {
    		background: none;
        }
    }
    h2{
    	color: $black;
    }
    li{
        display: inline-block;
        width: 100%;
    	a{
    		color: $black;
    	}
    }
    #block-ourwork,
    #block-aboutus,
    #block-resources {
      width: 31%;
      display: inline-block;
    }   
}