#footer{
	.section-full-colored {
		.section-content {
    		background: none;
            padding-top: 25px;
            width: 100%;
            max-width: 845px;
            margin: 0 auto;
        }
    }
    h2 { 
    	color: $black;
    }
    li {
        display: inline-block;
        width: 100%;
    	a {
    		color: $black;
    	}
    }
    #block-ourwork,
    #block-aboutus,
    #block-resources {
      width: 31%;
      display: inline-block;
      .menu {
        display: none;
      }
    }
    nav {
        h2 {
          border: 1px solid;
          background: $black;
          opacity: 0.8;
          color: $white;
          padding: 10px 0px;
          cursor: pointer;
          transition: 0.9s linear all;
          font-size: 20px;
          &:hover {
            background: $white;
            color: $black;
          } 
        }
    }

}


.back-to-top { 
 width:100px; 
    height:130px;
    padding:10px; 
    text-align:center; 
    background: red;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    top:75px;
    right:40px;
    display:none;
    &:hover {
        text-decoration:none;
    }
} 
