/** common **/
.max-width-container {
  max-width: 1187px;
  width: 100%;
  margin: 0 auto;
}
/** about block gai **/
.about-gai-block {
  margin-top: 30px;
  display: block;
  width: 100%; 
  .about-title {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    h2 {
      font-size: 56px;
      width: 70%;
      text-align: left;
      line-height: 1;
      margin-top: .3em;
    }
  }
  .about-desc {
    display: inline-block;
    width: 67%;
    font-size: 18px;
  }
}
/*** slider css **/
#main-wrapper {
  padding-bottom: 0px;
  margin-top: 0px;
}
.path-frontpage {
  #content {
   article {
     display: none;
   }
 }
 h1#page__node--title {
  display: none;
 }
}

.home-slider {
  position: relative;
  overflow: hidden;
  /* slider effects **/
  img {
    transform: scale(1,1);
    visibility: visible !important;
    transition: transform 500ms;
    -webkit-transition: transform 500ms;
    -moz-transition: transform 500ms;
    -ms-transition: transform 500ms;
    @include mobile-landscape {
      height: 325px;
    }
  }
  &:hover {
    img {
      transform: scale(1.05, 1.05);
      transition: transform 500ms;
      -webkit-transition: transform 500ms;
      -moz-transition: transform 500ms;
      -ms-transition: transform 500ms;
    }
  }
}
.slider-content {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: $white;
}
span.slider-title a {
  text-transform: uppercase;
  @include mobile {
    font-size: 14px;
    line-height: 1.5;
  }
  @include tablet {
    font-size: 35px;
    line-height: 2.3125rem;
  }
  font-size: 50px;
  font-weight: bold;
  line-height: 3.3125rem;
  color: $white;

  pointer-events: none;
}
span.slider-des {
  @include mobile {
    font-size: 10px;
  }
  @include tablet {
    font-size: 18px;
    line-height: 4px;
  }
  font-size: 25px;
  line-height: 5px;
  @include mobile-landscape {
    line-height: 1.5em;
  }
}
.slider-link {
  @include mobile {
    margin-top: 2px;
   }
  margin-top: 42px;
  display: block;

}
.view-block-home-slider {
  .views-row-3 {
    .views-row-2 {
      .slider-title {
        display: none;
      }
      h3 {
        @include mobile {
          font-size: 14px;
        }
        @include tablet {
          font-size: 35px;
        }
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
        strong {
          color: $color-navyblue;
        }
      }
    }   
  }
}

/** our work block **/
#block-drupalservicestomakeyourwebpresenceshine {
  padding: 0 20px;
}
.path-frontpage {
  .top-content {
    max-width: 1180px;
    margin: 0 auto;
    float: none;
    margin-bottom: 25px !important;
    width: 100%;
    padding: 0 20px;
  }
}

.view-block-our-work {
  display: inline-block;
  width: 29.7%;
  text-align: center;
    &:nth-of-type(3) {
      margin: 0 2.8%;
      @media screen and (max-width: 480px) {
        margin: 0;
      }
    }
}

.view-block-our-work {
  img {
    width: 100%;
  }
  .views-row {
    position: relative;
    &:hover {
      .views-field.views-field-title {
        /* display: block; */
        opacity: 1;
      }
    }
  }
  .views-field.views-field-title {
       -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-opacity, -webkit-background;
    -moz-transition-property: -moz-opacity, -moz-background;
    -o-transition-property: -o-opacity, -o-background;
    transition-property: opacity, background; 
    opacity: 0;
    /* display: none; */
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: $white;
    height: 100%;
    p {
      font-size: 24px;
      color: $white;
      position: relative;
      top: 3%;
      z-index: 9;
    }
    .field-content {  
      font-size: 24px;
      width: 100%;
      color: $white;  
      height: 100%;
      position: relative;
      display: block;
      text-align: left;
      padding-top: 57px !important;
      padding: 0 20px;
      z-index: 2;
      &:after {
          position: absolute;
          content: "";
          height: 99%;
          width: 100%;
          background: $black;
          left: 0;
          top: 0;
          opacity: 0.7;
          z-index: -1;
      }
    }
  }
}
/** our work listing page **/
.views-exposed-form  {
  select {
    color: $black;
    border: 2px solid $black;
    font-size: 18px;
    height: 40px;
    margin-top: -2px;
    width: 250px;
  }
  .form-submit {
    font-size: 18px;
  }
}
.view-block-our-work-list {
  h2 {
    width: 100%;
    text-align: center;
  }
  .views-row {
    display: inline-block;
    width: 33%;
    padding: 0 15px;
    margin-bottom: 30px;
    vertical-align: top;
  }
  .views-exposed-form {
    margin-bottom: 25px;
    text-align: center;
  }
  .js-form-type-select {
    display: inline-block;
    width: auto;
    margin-left: 1.3%;
  }
  .form-actions {
    display: inline-block;
    width: auto !important;
  }
  .views-field.views-field-body {
    font-weight: bold;
  }
  .views-field.views-field-title {
    font-size: 25px;
    font-weight: bold;
    color: $black;
    padding-bottom: 10px;
    a {
     color: $black;
    }
  }
}
.our-work-listing-wrapper {
  position: relative;
}
.our-work-img {
  text-align: center;
  img {
    width: 100%;
    height: 100%;
  }
}
.our-work-des {
  position: absolute;
  color: $white;
  padding: 20px 30px;
  line-height: 20px;
  width: 100%;
  height: 100%;
  /* display: none; */
  z-index: 2;
  transition: all 500ms;
  transform: scale(0,1);
  &:after {
    content: "";
    width: 100%;
    height: 98%;
    background: $black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
.our-work-list-title {
  a {
    color: $white;
    font-size: 30px;
  }
}
.our-work-listing-wrapper {
  &:hover {
    .our-work-des {
      transition: all 500ms;
      transform: scale(1,1);
    }
  }
}

/** non-profit page **/
.our-work-description {
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3em;
}
.our-work-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  display: block;
  width: 100%;
  padding: 25px;
}
.listing-of-our-work {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  .views-row {
    width: 31%;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    &:hover {
      + img {
        transition: all 500ms;
        transform: scale(1.5,1.5);
       }
    }
     &:hover {
      .views-field-title {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
          content: "";
          background: $black;
          opacity: 0.5;
          height: 100%;
          width: 100%;
          position: relative;
          z-index: 0;
        }
      }
    }
  }
  .views-field-title {
    display: none;
    text-align: center;
    a {
      color: $white;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      padding: 20px;
    }
  }
  .views-field.views-field-field-image {
    overflow: hidden;
    img {
      transition: all 500ms;
      transform: scale(1,1);
      border: 1px solid $light-black;
    }
  }
}
/* Css for Homepage agent brasnd logo slider*/
#block-views-block-client-logo-slider-block-1 {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  .views-row {
    float: left;
    margin-right: 5%;
  }
  > h2 {
    text-align: center;
  }
  img {
    width: 100% !important;
  }
  .contextual-region {
    width: 1170px;  
    margin: 0 auto;
    padding: 15px 0px 15px 0px;
  }
}

/* our services blcok */
.block-view-our-service {
  background: $base_color;
  display: inline-block;
  margin: 0 auto;
  padding: 2em 5em;
  text-align: center;
  width: 100%;
  margin-top: 2em;
  h2 {
    color: $white;
    margin-top: 0px;
    font-size: 40px;
  }
  .views-row {
    display: inline-block;
    margin-right: 2em;
    &:last-child {
      margin-right: 0;
    }
  }
  h3 {
    a {
      color: $white;
    }  
  }
}

/* css for Testimonai block */
.testimonial_block {
  h2{
    color: $white;
    font-size: 40px;
    text-align: center;
  }
  .views-row {
    float: left;
    width: 100%;
    .views-field-field-image {
      float: left;
      padding-right: 3em;
      min-height: 220px;
      padding-top: 10px;
        @include mobile-portrait {
          padding-bottom: 10px;
        }
    }
    .views-field-title{
      a{
        color: $white;
        font-size: 22px;
        font-weight: bold;
      }
    }
  }
  .views-field.views-field-body {
    font-size: 18px;
    color: $white;
  }
}

.listing-of-our-work .views-row:hover img {
  transform: scale(1.25,1.25);
}

/** our work node listing **/
.our-work-node-title {
  font-size: 26px;
  font-weight: bold;
  padding: 25px 0;
  text-align: center;
}
.our-wrok-node-image {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  img {
    width: 100%;
  }
}
.our-work-node-desc {
  font-size: 20px;
  font-family: cursive;
  padding: 20px 20px;
}
.our-work-website-link {
  font-size: 25px;
  padding: 20px;
  font-weight: bold;
}
/**** testimonial block ***/
.testimonial_block {
  .views_slideshow_cycle_teaser_section,
  .views_slideshow_cycle_slide {
    @media screen and (max-width: 641px) {
      height: 360px !important;
    }
     @media screen and (min-width: 645px) {
      max-height: 220px !important;
    }
    
  }
}
.path-frontpage {
  .footer_first_wrapper {
    width: 70%;
    float: left;
    padding-left: 9%;
  }
  .footer_fourth_wrapper {
    width: 28%;
  }
}
.footer-inner-section {
  padding: 20px 0 0 0;
  background: url("../images/images.jpg");
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  &:before {
    content: "";
    height: 100%;
    width: 100%;
    background: $black;
    z-index: 1;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
  }
  .footer-col {
   position: relative;
   z-index: 1;
  }
}

/*** our people page **/
/* .path-our-people {
  #main-wrapper {
    padding-bottom: 0px;
    margin-top: 0;
    position: relative;
    &:before {
      content: "";
      background: $black;
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 0.9;
    }
  } */
  .top-contributor {
    background: rgb(70, 158, 212);
    padding: 22px 0px;
    > div {
     max-width: 830px;
     margin: 0 auto;
     width: 100%;
    }
    h2 {
      width: 100%;
      display: inline-block;
      text-align: center;
      font-weight: bold;
      color: $white;
    }
    .views-row {
      display: inline-block;
      margin-right: 1%;
      margin-left: 1%;
      width: 31%;
      margin-bottom: 20px;
      min-height: 340px;
      vertical-align: top;
    }
    .views-field-field-title {
      color: $white;
      font-size: 24px;
      text-align: center;
      display: block;
      padding-bottom: 15px;
    }
    .views-field-body {
      color: $white;
      font-size: 20px;
      text-align: center;
      height: 80px;
    }
    .views-field.views-field-field-link {
      text-align: center;
      margin-bottom: 25px;
      display: inline-block;
      width: 100%;
      margin-top: 10px;
      a {
       font-size: 20px;
       padding: 10px;
       border: 1px solid $white;
       color: $white;
       transition: 0.9s linear all;
       border-radius: 5px;
       &:hover {
        transition: 0.9s linear all;
        background: $white;
        color: $black;
       }
      }
    }
    
    .views-field-field-image {
      border-radius: 182px 0px 164px 0px;
      img {
       border-radius: 0px 120px 0px 120px;
       border: 10px solid $white;
       width: 100%;
       transition: 0.5s linear all;
       &:hover {
        transition: 0.5s linear all;
        border-radius: 0px;
       }
    }
  }
}

/** css for pager **/
.pager {
  display: block;
  padding: 50px 0;
  background: $black;
 .js-pager__items {
    display: block;
    text-align: center;
    li {
     display: inline-block;
    }
  }
  .pager__item--first,
  .pager__item--previous,
  .pager__item--next,
  .pager__item--last {
    a {
      padding: 5px 15px;
      border: 1px solid $white;
      color: $white;
    }
  }
  li.pager__item {
    margin-right: 5px;
    margin-left: 5px;
    a {
      font-size: 18px;
      color: $white;
      padding: 0 9px;
      transition: 0.9s linear all;
      border-radius: 5px;
      &:hover {
       background: $grey;
       transition: 0.9s linear all;
       color: $black;
       border-radius: 5px;
      }
    }
    &.is-active {
     background: #0678be;
     padding: 0;
     border-radius: 3px;
    }
  }

}

/** css for node page **/
.node--type-page {
 &.node {
   max-width: 1187px;
   width:100%;
   margin: 0 auto;
 }
}

/** user login form **/
.path-user {
  section.section {
    max-width: 1187px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  form {
    label {
      font-size: 26px;
      font-weight: bold;
      padding-bottom: 5px;
      display: inline-block;
    }
    input {
     height: 40px;
     margin-bottom: 10px;
    }
    .form-submit {
        background-color: #0678be;
        font-size: 20px;
        height: auto;
    }
    .form-item {
      margin-bottom: 20px;
    }
  }
  #block-himalaya-local-tasks {
   ul {
    border-bottom: none;
    padding-left: 0;
   }
   li {
    a {
     color: #333;
     border: 1px solid #d8d8d8 !important;
     border-bottom: none;
     padding: 12px 15px;
     background-color: #fff;
     border-radius: 5px 5px 5px 5px;
     font-weight: bold;
     transition: 0.9s linear all;
     &.is-active {
      background: #333;
      color: $white;
     }
     &:hover {
      background: #333;
      color: $white;
      transition: 0.9s linear all;
     }
    }
   }
  }
}

/** contact us page **/
.path-contact {
  .contact-message-form {
    max-width: 780px;
    margin: 30px auto;
    width: 100%;
    padding: 0 20px;
  }
}
.be-contact-column-inner {
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
  .contact-us-wrap {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 0 30px;
    p {
     font-size: 16px;
     font-weight: bold;
     line-height: 28px;
    }
  }
}
.contact-form {
 .js-form-type-managed-file {
   padding-bottom: 30px;
   padding-top: 5px;
   float: left;
   width: 100%;
   .description {
    display: none;
   }
 }
}
.contact-us-page-block {
 h2 {
  text-align: center;
  background: url("../images/bg-blue-blueprint.jpg");
  padding: 6% 0;
  font-size: 56px;
  color: #fff;
  margin-top: 0;
  @include mobile-portrait {
    padding: 10% 20px;
    font-size: 40px;
  }
 }
}
.contact-message-feedback-form  {
  label {
   color: $black;
  }
}

/** css for blog **/
.blogs-views-page {
  .blog-user-pic {
    display: none;
  }
  header {
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    padding: 6% 0;
    background: url("../images/bg-blue-blueprint.jpg");
    color: $white;
    background-attachment: fixed;
  }
  .views-row {
    border-bottom: 1px dotted #999;
  }
  .blog-main-wrapper {
    max-width: 1186px;
    margin: 0 auto;
    width: 100%;
    padding: 2.5em 20px;
  }
}
.blog-img {
    display: inline-block;
    width: 30%;
    img {
     @include border-radius(10px);
    }
}
.blog__date-wrapper {
  display: flex;
}
.blog-content {
    display: inline-block;
    width: 69%;
    vertical-align: top;
    padding: 0 30px;
}
.blog-date {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    font-family: cursive;
    padding-right: 15px;
    display: block;
}
.blog-title  {
  padding-bottom: 10px;
  display: block;
  a {
   font-size: 24px;
   color: $black;
   font-weight: bold;
   &:hover {
    color: $color-red;
   }
  }
}
.blog-body {
  font-size: 16px;
  font-family: cursive;
  font-weight: normal;
  color: $light-black;
}
.blog-uid {
 font-size: 14px;
 font-weight: bold;
 padding-left: 15px;
 border-left: 1px solid #666;
 font-family: cursive;
 color: #666;
 a {
  color: #666;
 }
}
.blog-read-more {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  a {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid $black;
    @include border-radius(5px);
    color: $black;
    transition: .9s linear all;
    &:hover {
       background-color: $color-red;
       color: $white;
       transition: .9s linear all;
       border-color: $color-red;
    }
  }
}
.blogs {
  max-width: 1186px;
  margin: 40px auto;
  width: 100%;
  padding: 0 20px;
  .submitted-by {
    font-size: 14px;
    font-family: cursive;
  }
  .node__content {
     div:first-child > div:first-child {
     visibility: hidden;
   }
   div {
     &:first-child {
      div:last-child {
        float: left; 
        margin-right: 3%;
        margin-bottom: 28px; 
       }
     }
     &:nth-child(3) {
      div:first-child {
        display: none;
      }
      div:last-child {
        font-size: 32px;
        font-weight: bold;
      }
     }
   }
   p {
    font-size: 18px;
   }
  }
  .sharethis-wrapper {
     padding-bottom: 15px;
    > span {
      margin-right: 15px;
    }
  }
  .stButton {   
    .facebook {
      background-image: url("../images/social-image.png");
      background-position: -2px -42px;
    }
    .twitter {
      @extend .facebook;
      background-position: -325px -42px;
    }
    .linkedin {
      @extend .facebook;
      background-position: -165px -42px;
    }

    .chicklets {
     background-size: 443px;
     height: 35px;
     width: 35px;
     transition: 0.4s linear all;
     &:hover { 
       opacity: 1;
       background-position-y: -82px;
       transition: 0.4s linear all;
     }
    }
  }
}
/* node title **/
h1#page__node--title {
  padding: 6% 20px;
  background: url("../images/bg-blue-blueprint.jpg");
  color: $white;
  font-size: 56px;
  text-align: center;
  margin-top: 0px;
}
.back-to-page {
  padding: 10px 20px;
  border: 1px solid;
  /* display: inline-block; */
  display: none;/**temporary change**/
  @include border-radius(5px);
  cursor: pointer;
  background: #0678be;
  color: $white;
  font-size: 16px;
}
/*** drupal 8 logo in site **/
.drupal__eight--logo {
  position: absolute;
  bottom: -19px;
  z-index: 99;
  right: 15px;
  @include mobile-portrait {
    bottom: -15px;
  }
  img {
    @include mobile-portrait {
      width: 65%;
      float: right;
    }
  }
}
.views-element-container {
  footer {
    position: relative;
  }
}
