@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
   border-radius: $radius;
}
@mixin display($flex) {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: $flex;  
}


/** added mixin for media query **/
$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: 767px;
$tablet-portrait-width: 992px;
$mobile-portrait-width: 480px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (min-width: #{$tablet-width}) and (max-width: #{$tablet-portrait-width - 1px}) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: #{$tablet-portrait-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-mobile {
  @media (max-width: #{$tablet-portrait-width}) {
    @content;
  }
}

@mixin tablet-landscape-desktop {
  @media (min-width: #{$tablet-portrait-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-mobile {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile-portrait {
  @media (max-width: #{$mobile-portrait-width}) {
    @content;
  }
}

@mixin mobile-landscape {
  @media (min-width: #{$mobile-portrait-width}) and (max-width: #{$tablet-width - 1px})  {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width: #{$tablet-width})  {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width})  {
    @content;
  }
}