$red: #ed1c24;
$grey: #e7e7e7;
$light-grey: #f6f6f6;
$medium-grey: #f1f1f1;
$white: #ffffff;
$black: #000000;
$light-black: #333333;
$beige: #dcd3b3;
$yellow: #b38d06;
$light-yellow: #f1ecd9;
$gold: #ba8748;
$base_color: #7BB2D0;
$color-red: #c42431;
$color-navyblue: #28A8E0;
