/**** bootstrap files ******/
/** added mixin for media query **/
/*** header **/
/* line 3, ../sass/custom/_header.scss */
#navigation {
  height: 63px !important;
  background: #fff !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 0 0 0 0;
  opacity: 0.9;
  line-height: 35px;
}
/* line 10, ../sass/custom/_header.scss */
#navigation a.nested-menu-item-toggle {
  display: none;
}
/* line 14, ../sass/custom/_header.scss */
#navigation .menu a {
  color: #000000 !important;
  font-weight: bold;
}
/* line 19, ../sass/custom/_header.scss */
#navigation .menu .sub-menu-himalaya a {
  border-bottom: 1px solid transparent;
}

/* line 26, ../sass/custom/_header.scss */
.main-menu > li > a {
  float: left;
  padding: 0.8em 1em;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

/* line 33, ../sass/custom/_header.scss */
.main-menu ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  margin: 0;
  -webkit-transition-property: margin, opacity;
  -moz-transition-property: margin, opacity;
  transition-property: margin, opacity;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 20;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* line 50, ../sass/custom/_header.scss */
.main-menu ul a {
  white-space: nowrap;
  padding: 0.4em 1.8em;
  width: 100%;
  display: block;
  background-color: #fff;
  border-color: #464646;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  color: #000;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.02), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

/* line 62, ../sass/custom/_header.scss */
#navigation .main-menu ul a:hover {
  border-bottom: 1px solid #c42431 !important;
}

/* line 65, ../sass/custom/_header.scss */
.menu li a:hover {
  border: none !important;
}

/* line 68, ../sass/custom/_header.scss */
.menu > li:hover .sub-menu-himalaya {
  opacity: 1;
  visibility: visible;
}

/* line 72, ../sass/custom/_header.scss */
.sub-menu-himalaya {
  background: #fff !important;
}

/* line 75, ../sass/custom/_header.scss */
.main-menu li {
  position: relative;
}

/* line 78, ../sass/custom/_header.scss */
#navigation .main-menu li a:hover {
  color: #c42431 !important;
}

/** slide show **/
/* line 82, ../sass/custom/_header.scss */
.views_slideshow_cycle_teaser_section,
.views_slideshow_cycle_slide {
  width: 100% !important;
}

/*** contact us form **/
/* line 88, ../sass/custom/_header.scss */
.contact-message-feedback-form label {
  color: red;
  width: 100%;
  float: left;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 96, ../sass/custom/_header.scss */
.contact-message-feedback-form .form-text,
.contact-message-feedback-form .text-full,
.contact-message-feedback-form .form-email {
  width: 100%;
  float: left;
  margin-bottom: 1em;
  display: block;
  width: 100%;
  padding: 6px 0px;
  text-indent: 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* line 122, ../sass/custom/_header.scss */
.contact-message-feedback-form #edit-preview {
  display: none;
}

/* line 125, ../sass/custom/_header.scss */
.captcha.form-wrapper {
  padding-bottom: 0.8em;
}

/* line 128, ../sass/custom/_header.scss */
.captcha.form-wrapper summary {
  outline: none;
}

/* line 131, ../sass/custom/_header.scss */
#main-wrapper {
  margin-top: 1em;
}

/** login user **/
/* line 136, ../sass/custom/_header.scss */
.user-logged-in #header {
  position: relative;
}
/* line 139, ../sass/custom/_header.scss */
.user-logged-in #navigation {
  margin-bottom: 0px;
}

/** common **/
/* line 2, ../sass/custom/_global.scss */
.max-width-container {
  max-width: 1187px;
  width: 100%;
  margin: 0 auto;
}

/** about block gai **/
/* line 8, ../sass/custom/_global.scss */
.about-gai-block {
  margin-top: 30px;
  display: block;
  width: 100%;
}
/* line 12, ../sass/custom/_global.scss */
.about-gai-block .about-title {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
/* line 16, ../sass/custom/_global.scss */
.about-gai-block .about-title h2 {
  font-size: 56px;
  margin-top: 10px;
}
/* line 21, ../sass/custom/_global.scss */
.about-gai-block .about-desc {
  display: inline-block;
  width: 67%;
  font-size: 20px;
}

/*** slider css **/
/* line 28, ../sass/custom/_global.scss */
#main-wrapper {
  padding-bottom: 0px;
  margin-top: 0px;
}

/* line 34, ../sass/custom/_global.scss */
.path-frontpage #content article {
  display: none;
}
/* line 38, ../sass/custom/_global.scss */
.path-frontpage h1#page__node--title {
  display: none;
}

/* line 42, ../sass/custom/_global.scss */
.home-slider {
  position: relative;
  overflow: hidden;
  /* slider effects **/
}
/* line 46, ../sass/custom/_global.scss */
.home-slider img {
  transform: scale(1, 1);
  visibility: visible !important;
  transition: transform 500ms;
  -webkit-transition: transform 500ms;
  -moz-transition: transform 500ms;
  -ms-transition: transform 500ms;
}
/* line 55, ../sass/custom/_global.scss */
.home-slider:hover img {
  transform: scale(1.05, 1.05);
  transition: transform 500ms;
  -webkit-transition: transform 500ms;
  -moz-transition: transform 500ms;
  -ms-transition: transform 500ms;
}

/* line 64, ../sass/custom/_global.scss */
.slider-content {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #ffffff;
}

/* line 71, ../sass/custom/_global.scss */
span.slider-title a {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  line-height: 3.3125rem;
  color: #ffffff;
}

/* line 78, ../sass/custom/_global.scss */
span.slider-des {
  font-size: 25px;
  line-height: 5px;
}

/* line 82, ../sass/custom/_global.scss */
.slider-link {
  margin-top: 42px;
  display: block;
}

/** our work block **/
/* line 87, ../sass/custom/_global.scss */
#block-drupalservicestomakeyourwebpresenceshine {
  padding: 0 20px;
}

/* line 91, ../sass/custom/_global.scss */
.path-frontpage .top-content {
  max-width: 1180px;
  margin: 0 auto;
  float: none;
  margin-bottom: 25px !important;
  width: 100%;
  padding: 0 20px;
}

/* line 100, ../sass/custom/_global.scss */
#block-views-block-our-work-block-1,
#block-views-block-our-work-block-2 {
  display: inline-block;
  margin-right: 5%;
  width: 29.7%;
  text-align: center;
}

/* line 107, ../sass/custom/_global.scss */
#block-views-block-our-work-block-4 {
  width: 29.7%;
  display: inline-block;
  text-align: center;
}

/* line 115, ../sass/custom/_global.scss */
#block-views-block-our-work-block-4 img,
#block-views-block-our-work-block-1 img,
#block-views-block-our-work-block-2 img {
  width: 100%;
}
/* line 118, ../sass/custom/_global.scss */
#block-views-block-our-work-block-4 .views-row,
#block-views-block-our-work-block-1 .views-row,
#block-views-block-our-work-block-2 .views-row {
  position: relative;
}
/* line 121, ../sass/custom/_global.scss */
#block-views-block-our-work-block-4 .views-row:hover .views-field.views-field-title,
#block-views-block-our-work-block-1 .views-row:hover .views-field.views-field-title,
#block-views-block-our-work-block-2 .views-row:hover .views-field.views-field-title {
  display: block;
}
/* line 126, ../sass/custom/_global.scss */
#block-views-block-our-work-block-4 .views-field.views-field-title,
#block-views-block-our-work-block-1 .views-field.views-field-title,
#block-views-block-our-work-block-2 .views-field.views-field-title {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  height: 100%;
}
/* line 134, ../sass/custom/_global.scss */
#block-views-block-our-work-block-4 .views-field.views-field-title p,
#block-views-block-our-work-block-1 .views-field.views-field-title p,
#block-views-block-our-work-block-2 .views-field.views-field-title p {
  font-size: 24px;
  color: #ffffff;
  position: relative;
  top: 3%;
  z-index: 9;
}
/* line 141, ../sass/custom/_global.scss */
#block-views-block-our-work-block-4 .views-field.views-field-title .field-content,
#block-views-block-our-work-block-1 .views-field.views-field-title .field-content,
#block-views-block-our-work-block-2 .views-field.views-field-title .field-content {
  font-size: 24px;
  width: 100%;
  color: #ffffff;
  height: 100%;
  position: relative;
  display: block;
  text-align: left;
  padding-top: 57px !important;
  padding: 0 20px;
  z-index: 2;
}
/* line 152, ../sass/custom/_global.scss */
#block-views-block-our-work-block-4 .views-field.views-field-title .field-content:after,
#block-views-block-our-work-block-1 .views-field.views-field-title .field-content:after,
#block-views-block-our-work-block-2 .views-field.views-field-title .field-content:after {
  position: absolute;
  content: "";
  height: 99%;
  width: 100%;
  background: #000000;
  left: 0;
  top: 0;
  opacity: 0.7;
  z-index: -1;
}

/** our work listing page **/
/* line 168, ../sass/custom/_global.scss */
.views-exposed-form select {
  color: #000000;
  border: 2px solid #000000;
  font-size: 18px;
  height: 40px;
  margin-top: -2px;
  width: 250px;
}
/* line 176, ../sass/custom/_global.scss */
.views-exposed-form .form-submit {
  font-size: 18px;
}

/* line 181, ../sass/custom/_global.scss */
#block-views-block-our-work-block-3 h2 {
  width: 100%;
  text-align: center;
}
/* line 185, ../sass/custom/_global.scss */
#block-views-block-our-work-block-3 .views-row {
  display: inline-block;
  width: 33%;
  padding: 0 15px;
  margin-bottom: 30px;
  vertical-align: top;
}
/* line 192, ../sass/custom/_global.scss */
#block-views-block-our-work-block-3 .views-exposed-form {
  margin-bottom: 25px;
  text-align: center;
}
/* line 196, ../sass/custom/_global.scss */
#block-views-block-our-work-block-3 .js-form-type-select {
  display: inline-block;
  width: auto;
  margin-left: 1.3%;
}
/* line 201, ../sass/custom/_global.scss */
#block-views-block-our-work-block-3 .form-actions {
  display: inline-block;
  width: auto !important;
}
/* line 205, ../sass/custom/_global.scss */
#block-views-block-our-work-block-3 .views-field.views-field-body {
  font-weight: bold;
}
/* line 208, ../sass/custom/_global.scss */
#block-views-block-our-work-block-3 .views-field.views-field-title {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 10px;
}
/* line 213, ../sass/custom/_global.scss */
#block-views-block-our-work-block-3 .views-field.views-field-title a {
  color: #000000;
}

/* line 218, ../sass/custom/_global.scss */
.our-work-listing-wrapper {
  position: relative;
}

/* line 221, ../sass/custom/_global.scss */
.our-work-img {
  text-align: center;
}
/* line 223, ../sass/custom/_global.scss */
.our-work-img img {
  width: 100%;
  height: 100%;
}

/* line 228, ../sass/custom/_global.scss */
.our-work-des {
  position: absolute;
  color: #ffffff;
  padding: 20px 30px;
  line-height: 20px;
  width: 100%;
  height: 100%;
  /* display: none; */
  z-index: 2;
  transition: all 500ms;
  transform: scale(0, 1);
}
/* line 239, ../sass/custom/_global.scss */
.our-work-des:after {
  content: "";
  width: 100%;
  height: 98%;
  background: #000000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 252, ../sass/custom/_global.scss */
.our-work-list-title a {
  color: #ffffff;
  font-size: 30px;
}

/* line 259, ../sass/custom/_global.scss */
.our-work-listing-wrapper:hover .our-work-des {
  transition: all 500ms;
  transform: scale(1, 1);
}

/** non-profit page **/
/* line 267, ../sass/custom/_global.scss */
.our-work-description {
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3em;
}

/* line 274, ../sass/custom/_global.scss */
.our-work-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  display: block;
  width: 100%;
  padding: 25px;
}

/* line 282, ../sass/custom/_global.scss */
.listing-of-our-work {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}
/* line 286, ../sass/custom/_global.scss */
.listing-of-our-work .views-row {
  width: 31%;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
}
/* line 294, ../sass/custom/_global.scss */
.listing-of-our-work .views-row:hover + img {
  transition: all 500ms;
  transform: scale(1.5, 1.5);
}
/* line 300, ../sass/custom/_global.scss */
.listing-of-our-work .views-row:hover .views-field-title {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 308, ../sass/custom/_global.scss */
.listing-of-our-work .views-row:hover .views-field-title:before {
  content: "";
  background: #000000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}
/* line 320, ../sass/custom/_global.scss */
.listing-of-our-work .views-field-title {
  display: none;
  text-align: center;
}
/* line 323, ../sass/custom/_global.scss */
.listing-of-our-work .views-field-title a {
  color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  padding: 20px;
}
/* line 337, ../sass/custom/_global.scss */
.listing-of-our-work .views-field.views-field-field-image {
  overflow: hidden;
}
/* line 339, ../sass/custom/_global.scss */
.listing-of-our-work .views-field.views-field-field-image img {
  transition: all 500ms;
  transform: scale(1, 1);
  border: 1px solid #333333;
}

/* Css for Homepage agent brasnd logo slider*/
/* line 347, ../sass/custom/_global.scss */
#block-views-block-client-logo-slider-block-1 {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* line 351, ../sass/custom/_global.scss */
#block-views-block-client-logo-slider-block-1 .views-row {
  float: left;
  margin-right: 5%;
}
/* line 355, ../sass/custom/_global.scss */
#block-views-block-client-logo-slider-block-1 > h2 {
  text-align: center;
}
/* line 358, ../sass/custom/_global.scss */
#block-views-block-client-logo-slider-block-1 img {
  width: 100% !important;
}
/* line 361, ../sass/custom/_global.scss */
#block-views-block-client-logo-slider-block-1 .contextual-region {
  width: 1170px;
  margin: 0 auto;
  padding: 15px 0px 15px 0px;
}

/* our services blcok */
/* line 369, ../sass/custom/_global.scss */
#block-views-block-our-services-block-block-1 {
  background: #7BB2D0;
  display: inline-block;
  margin: 0 auto;
  padding: 2em 5em;
  text-align: center;
  width: 100%;
  margin-top: 2em;
}
/* line 377, ../sass/custom/_global.scss */
#block-views-block-our-services-block-block-1 h2 {
  color: #ffffff;
  margin-top: 0px;
  font-size: 40px;
}
/* line 382, ../sass/custom/_global.scss */
#block-views-block-our-services-block-block-1 .views-row {
  float: left;
  margin: 0 auto;
  width: 25%;
}
/* line 387, ../sass/custom/_global.scss */
#block-views-block-our-services-block-block-1 h3 {
  color: #ffffff;
}

/* css for Testimonai block */
/* line 393, ../sass/custom/_global.scss */
.testimonial_block h2 {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
}
/* line 398, ../sass/custom/_global.scss */
.testimonial_block .views-row {
  float: left;
  width: 100%;
}
/* line 401, ../sass/custom/_global.scss */
.testimonial_block .views-row .views-field-field-image {
  float: left;
  padding-right: 3em;
  min-height: 220px;
}
/* line 407, ../sass/custom/_global.scss */
.testimonial_block .views-row .views-field-title a {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}
/* line 414, ../sass/custom/_global.scss */
.testimonial_block .views-field.views-field-body {
  font-size: 18px;
  color: #ffffff;
}

/* line 420, ../sass/custom/_global.scss */
.listing-of-our-work .views-row:hover img {
  transform: scale(1.25, 1.25);
}

/** our work node listing **/
/* line 425, ../sass/custom/_global.scss */
.our-work-node-title {
  font-size: 26px;
  font-weight: bold;
  padding: 25px 0;
  text-align: center;
}

/* line 431, ../sass/custom/_global.scss */
.our-wrok-node-image {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
/* line 435, ../sass/custom/_global.scss */
.our-wrok-node-image img {
  width: 100%;
}

/* line 439, ../sass/custom/_global.scss */
.our-work-node-desc {
  font-size: 20px;
  font-family: cursive;
  padding: 20px 20px;
}

/* line 444, ../sass/custom/_global.scss */
.our-work-website-link {
  font-size: 25px;
  padding: 20px;
  font-weight: bold;
}

/**** testimonial block ***/
/* line 451, ../sass/custom/_global.scss */
.testimonial_block .views_slideshow_cycle_teaser_section,
.testimonial_block .views_slideshow_cycle_slide {
  max-height: 220px !important;
}

/* line 457, ../sass/custom/_global.scss */
.path-frontpage .footer_first_wrapper {
  width: 70%;
  float: left;
  padding-left: 9%;
}
/* line 462, ../sass/custom/_global.scss */
.path-frontpage .footer_fourth_wrapper {
  width: 28%;
}

/* line 466, ../sass/custom/_global.scss */
.footer-inner-section {
  padding: 20px 0 0 0;
  background: url("../images/images.jpg");
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}
/* line 472, ../sass/custom/_global.scss */
.footer-inner-section:before {
  content: "";
  height: 100%;
  width: 100%;
  background: #000000;
  z-index: 1;
  position: absolute;
  opacity: 0.5;
  top: 0;
}
/* line 482, ../sass/custom/_global.scss */
.footer-inner-section .footer-col {
  position: relative;
  z-index: 1;
}

/*** our people page **/
/* .path-our-people {
  #main-wrapper {
    padding-bottom: 0px;
    margin-top: 0;
    position: relative;
    &:before {
      content: "";
      background: $black;
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 0.9;
    }
  } */
/* line 503, ../sass/custom/_global.scss */
.top-contributor {
  background: #469ed4;
  padding: 22px 0px;
}
/* line 506, ../sass/custom/_global.scss */
.top-contributor > div {
  max-width: 830px;
  margin: 0 auto;
  width: 100%;
}
/* line 511, ../sass/custom/_global.scss */
.top-contributor h2 {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}
/* line 518, ../sass/custom/_global.scss */
.top-contributor .views-row {
  display: inline-block;
  margin-right: 1%;
  margin-left: 1%;
  width: 31%;
  margin-bottom: 20px;
  min-height: 340px;
  vertical-align: top;
}
/* line 527, ../sass/custom/_global.scss */
.top-contributor .views-field-field-title {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  display: block;
  padding-bottom: 15px;
}
/* line 534, ../sass/custom/_global.scss */
.top-contributor .views-field-body {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}
/* line 539, ../sass/custom/_global.scss */
.top-contributor .views-field.views-field-field-link {
  text-align: center;
  margin-bottom: 25px;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}
/* line 545, ../sass/custom/_global.scss */
.top-contributor .views-field.views-field-field-link a {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: 0.9s linear all;
  border-radius: 5px;
}
/* line 552, ../sass/custom/_global.scss */
.top-contributor .views-field.views-field-field-link a:hover {
  transition: 0.9s linear all;
  background: #000000;
}
/* line 559, ../sass/custom/_global.scss */
.top-contributor .views-field-field-image {
  border-radius: 182px 0px 164px 0px;
}
/* line 561, ../sass/custom/_global.scss */
.top-contributor .views-field-field-image img {
  border-radius: 0px 120px 0px 120px;
  border: 10px solid #ffffff;
  width: 100%;
  transition: 0.5s linear all;
}
/* line 566, ../sass/custom/_global.scss */
.top-contributor .views-field-field-image img:hover {
  transition: 0.5s linear all;
  border-radius: 0px;
}

/** css for pager **/
/* line 575, ../sass/custom/_global.scss */
.pager {
  display: block;
  padding: 50px 0;
  background: #000000;
}
/* line 579, ../sass/custom/_global.scss */
.pager .js-pager__items {
  display: block;
  text-align: center;
}
/* line 582, ../sass/custom/_global.scss */
.pager .js-pager__items li {
  display: inline-block;
}
/* line 590, ../sass/custom/_global.scss */
.pager .pager__item--first a,
.pager .pager__item--previous a,
.pager .pager__item--next a,
.pager .pager__item--last a {
  padding: 5px 15px;
  border: 1px solid #ffffff;
  color: #ffffff;
}
/* line 596, ../sass/custom/_global.scss */
.pager li.pager__item {
  margin-right: 5px;
  margin-left: 5px;
}
/* line 599, ../sass/custom/_global.scss */
.pager li.pager__item a {
  font-size: 18px;
  color: #ffffff;
  padding: 0 9px;
  transition: 0.9s linear all;
  border-radius: 5px;
}
/* line 605, ../sass/custom/_global.scss */
.pager li.pager__item a:hover {
  background: #e7e7e7;
  transition: 0.9s linear all;
  color: #000000;
  border-radius: 5px;
}
/* line 612, ../sass/custom/_global.scss */
.pager li.pager__item.is-active {
  background: #0678be;
  padding: 0;
  border-radius: 3px;
}

/** css for node page **/
/* line 623, ../sass/custom/_global.scss */
.node--type-page.node {
  max-width: 1187px;
  width: 100%;
  margin: 0 auto;
}

/** user login form **/
/* line 632, ../sass/custom/_global.scss */
.path-user section.section {
  max-width: 1187px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 639, ../sass/custom/_global.scss */
.path-user form label {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 5px;
  display: inline-block;
}
/* line 645, ../sass/custom/_global.scss */
.path-user form input {
  height: 40px;
  margin-bottom: 10px;
}
/* line 649, ../sass/custom/_global.scss */
.path-user form .form-submit {
  background-color: #0678be;
  font-size: 20px;
  height: auto;
}
/* line 654, ../sass/custom/_global.scss */
.path-user form .form-item {
  margin-bottom: 20px;
}
/* line 659, ../sass/custom/_global.scss */
.path-user #block-himalaya-local-tasks ul {
  border-bottom: none;
  padding-left: 0;
}
/* line 664, ../sass/custom/_global.scss */
.path-user #block-himalaya-local-tasks li a {
  color: #333;
  border: 1px solid #d8d8d8 !important;
  border-bottom: none;
  padding: 12px 15px;
  background-color: #fff;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  transition: 0.9s linear all;
}
/* line 673, ../sass/custom/_global.scss */
.path-user #block-himalaya-local-tasks li a.is-active {
  background: #333;
  color: #ffffff;
}
/* line 677, ../sass/custom/_global.scss */
.path-user #block-himalaya-local-tasks li a:hover {
  background: #333;
  color: #ffffff;
  transition: 0.9s linear all;
}

/** contact us page **/
/* line 689, ../sass/custom/_global.scss */
.path-contact .contact-message-form {
  max-width: 780px;
  margin: 30px auto;
  width: 100%;
  padding: 0 20px;
}

/* line 696, ../sass/custom/_global.scss */
.be-contact-column-inner {
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}
/* line 700, ../sass/custom/_global.scss */
.be-contact-column-inner .contact-us-wrap {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding: 0 30px;
}
/* line 705, ../sass/custom/_global.scss */
.be-contact-column-inner .contact-us-wrap p {
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
}

/* line 713, ../sass/custom/_global.scss */
.contact-form .js-form-type-managed-file {
  padding-bottom: 30px;
  padding-top: 5px;
  float: left;
  width: 100%;
}
/* line 718, ../sass/custom/_global.scss */
.contact-form .js-form-type-managed-file .description {
  display: none;
}

/* line 724, ../sass/custom/_global.scss */
.contact-us-page-block h2 {
  text-align: center;
}

/* line 729, ../sass/custom/_global.scss */
.contact-message-feedback-form label {
  color: #000000;
}

/** css for blog **/
/* line 736, ../sass/custom/_global.scss */
.blogs-views-page .blog-user-pic {
  display: none;
}
/* line 739, ../sass/custom/_global.scss */
.blogs-views-page header {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  padding: 6% 0;
  background: url("../images/bg-blue-blueprint.jpg");
  color: #ffffff;
  background-attachment: fixed;
}
/* line 748, ../sass/custom/_global.scss */
.blogs-views-page .views-row {
  border-bottom: 1px dotted #999;
}
/* line 751, ../sass/custom/_global.scss */
.blogs-views-page .blog-main-wrapper {
  max-width: 1186px;
  margin: 0 auto;
  width: 100%;
  padding: 2.5em 20px;
}

/* line 758, ../sass/custom/_global.scss */
.blog-img {
  display: inline-block;
  width: 30%;
}
/* line 761, ../sass/custom/_global.scss */
.blog-img img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

/* line 765, ../sass/custom/_global.scss */
.blog__date-wrapper {
  display: flex;
}

/* line 768, ../sass/custom/_global.scss */
.blog-content {
  display: inline-block;
  width: 69%;
  vertical-align: top;
  padding: 0 30px;
}

/* line 774, ../sass/custom/_global.scss */
.blog-date {
  font-size: 14px;
  font-weight: bold;
  color: #666;
  font-family: cursive;
  padding-right: 15px;
  display: block;
}

/* line 782, ../sass/custom/_global.scss */
.blog-title {
  padding-bottom: 10px;
  display: block;
}
/* line 785, ../sass/custom/_global.scss */
.blog-title a {
  font-size: 24px;
  color: #000000;
  font-weight: bold;
}
/* line 789, ../sass/custom/_global.scss */
.blog-title a:hover {
  color: #c42431;
}

/* line 794, ../sass/custom/_global.scss */
.blog-body {
  font-size: 16px;
  font-family: cursive;
  font-weight: normal;
  color: #333333;
}

/* line 800, ../sass/custom/_global.scss */
.blog-uid {
  font-size: 14px;
  font-weight: bold;
  padding-left: 15px;
  border-left: 1px solid #666;
  font-family: cursive;
  color: #666;
}
/* line 807, ../sass/custom/_global.scss */
.blog-uid a {
  color: #666;
}

/* line 811, ../sass/custom/_global.scss */
.blog-read-more {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
/* line 815, ../sass/custom/_global.scss */
.blog-read-more a {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #000000;
  transition: .9s linear all;
}
/* line 823, ../sass/custom/_global.scss */
.blog-read-more a:hover {
  background-color: #c42431;
  color: #ffffff;
  transition: .9s linear all;
  border-color: #c42431;
}

/* line 831, ../sass/custom/_global.scss */
.blogs {
  max-width: 1186px;
  margin: 40px auto;
  width: 100%;
  padding: 0 20px;
}
/* line 836, ../sass/custom/_global.scss */
.blogs .submitted-by {
  font-size: 14px;
  font-family: cursive;
}
/* line 841, ../sass/custom/_global.scss */
.blogs .node__content div:first-child > div:first-child {
  visibility: hidden;
}
/* line 846, ../sass/custom/_global.scss */
.blogs .node__content div:first-child div:last-child {
  float: left;
  margin-right: 3%;
  margin-bottom: 28px;
}
/* line 853, ../sass/custom/_global.scss */
.blogs .node__content div:nth-child(3) div:first-child {
  display: none;
}
/* line 856, ../sass/custom/_global.scss */
.blogs .node__content div:nth-child(3) div:last-child {
  font-size: 32px;
  font-weight: bold;
}
/* line 862, ../sass/custom/_global.scss */
.blogs .node__content p {
  font-size: 18px;
}
/* line 866, ../sass/custom/_global.scss */
.blogs .sharethis-wrapper {
  padding-bottom: 15px;
}
/* line 868, ../sass/custom/_global.scss */
.blogs .sharethis-wrapper > span {
  margin-right: 15px;
}
/* line 873, ../sass/custom/_global.scss */
.blogs .stButton .facebook, .blogs .stButton .twitter, .blogs .stButton .linkedin {
  background-image: url("../images/social-image.png");
  background-position: -2px -42px;
}
/* line 877, ../sass/custom/_global.scss */
.blogs .stButton .twitter {
  background-position: -325px -42px;
}
/* line 881, ../sass/custom/_global.scss */
.blogs .stButton .linkedin {
  background-position: -165px -42px;
}
/* line 886, ../sass/custom/_global.scss */
.blogs .stButton .chicklets {
  background-size: 443px;
  height: 35px;
  width: 35px;
  transition: 0.4s linear all;
}
/* line 891, ../sass/custom/_global.scss */
.blogs .stButton .chicklets:hover {
  opacity: 1;
  background-position-y: -82px;
  transition: 0.4s linear all;
}

/* node title **/
/* line 900, ../sass/custom/_global.scss */
h1#page__node--title {
  padding: 6% 20px;
  background: url("../images/bg-blue-blueprint.jpg");
  color: #ffffff;
  font-size: 56px;
  text-align: center;
  margin-top: 0px;
}

/* line 908, ../sass/custom/_global.scss */
.back-to-page {
  padding: 10px 20px;
  border: 1px solid;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  background: #0678be;
  color: #ffffff;
  font-size: 16px;
}

/** css for button **/
/* line 2, ../sass/custom/_button.scss */
span.slider-link a {
  padding: 10px 20px;
  min-width: 250px;
  background: transparent;
  border-radius: 5px;
  margin-top: 8em;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 20px;
  border: 2px solid #ffffff;
  position: relative;
}
/* line 13, ../sass/custom/_button.scss */
span.slider-link a:hover {
  background: #ffffff;
  color: #000000;
}
/* line 17, ../sass/custom/_button.scss */
span.slider-link a:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.2;
  border-radius: 5px;
  border: 2px solid #ffffff;
  top: 0;
  left: 0;
  position: absolute;
}

/* line 30, ../sass/custom/_button.scss */
.form-submit {
  background-color: #0678be;
  height: auto !important;
  font-size: 20px;
}

/* line 1, ../sass/custom/_footer.scss */
#footer {
  background: #333;
}
/* line 4, ../sass/custom/_footer.scss */
#footer .section-full-colored .section-content {
  background: none;
  padding-top: 25px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 14, ../sass/custom/_footer.scss */
#footer h2 {
  color: #000000;
}
/* line 17, ../sass/custom/_footer.scss */
#footer li {
  display: inline-block;
}
/* line 19, ../sass/custom/_footer.scss */
#footer li a {
  color: #000000;
}
/* line 23, ../sass/custom/_footer.scss */
#footer #block-ourwork,
#footer #block-aboutus,
#footer #block-resources {
  width: 31%;
  display: inline-block;
}
/* line 28, ../sass/custom/_footer.scss */
#footer #block-ourwork .menu,
#footer #block-aboutus .menu,
#footer #block-resources .menu {
  display: none;
}
/* line 33, ../sass/custom/_footer.scss */
#footer nav h2 {
  border: 1px solid;
  background: #000000;
  opacity: 0.8;
  color: #ffffff;
  padding: 10px 0px;
  cursor: pointer;
  transition: 0.9s linear all;
  font-size: 20px;
}
/* line 42, ../sass/custom/_footer.scss */
#footer nav h2:hover {
  background: #ffffff;
  color: #000000;
}

/* line 52, ../sass/custom/_footer.scss */
div#block-footerblock .detail li {
  font-size: 16px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
}
/* line 56, ../sass/custom/_footer.scss */
div#block-footerblock .detail li a {
  font-size: 20px;
  color: #ffffff;
  padding: 10px 0px;
  display: inline-block;
  font-weight: bold;
  position: relative;
}
/* line 63, ../sass/custom/_footer.scss */
div#block-footerblock .detail li a:before {
  content: "";
  background: url("../images/message.png") no-repeat;
  height: 35px;
  width: 35px;
  position: absolute;
  left: -45px;
}
/* line 73, ../sass/custom/_footer.scss */
div#block-footerblock .detail li:last-child a {
  font-size: 16px;
}
/* line 75, ../sass/custom/_footer.scss */
div#block-footerblock .detail li:last-child a:before {
  content: "";
  background: url("../images/phone.png") no-repeat;
  height: 35px;
  width: 35px;
  position: absolute;
  left: -43px;
}

/* line 90, ../sass/custom/_footer.scss */
ul.social__link li {
  padding: 5px;
}

/* line 95, ../sass/custom/_footer.scss */
.career__detail--wrapper a {
  padding: 10px 20px;
  border: 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
}
/* line 100, ../sass/custom/_footer.scss */
.career__detail--wrapper a:hover {
  background: #c42431;
}

/** sticky footer **/
/* line 106, ../sass/custom/_footer.scss */
body,
html {
  height: 100%;
}

/* line 110, ../sass/custom/_footer.scss */
div#page-wrapper {
  min-height: 80%;
}

/* line 113, ../sass/custom/_footer.scss */
#page-wrapper:after {
  content: "";
  display: block;
}

/* line 117, ../sass/custom/_footer.scss */
#footer,
#page-wrapper:after {
  height: 160px;
}

/** back to top */
/* line 124, ../sass/custom/_footer.scss */
.scrolltop {
  position: fixed;
  width: 57px;
  height: 57px;
  border-radius: 100%;
  z-index: 100;
  display: none;
  color: #ffffff;
  bottom: 10px;
  right: 10px;
  text-align: center;
  background: url("../images/top-arrow.png") #fff no-repeat;
  font-size: 0;
  transform: rotate(90deg);
  background-size: 62px;
  background-position: center;
  border: 2px solid;
}

@media (min-width: 992px) {
  /* line 2, ../sass/custom/_responsive.scss */
  .sub-menu-himalaya {
    width: 170px !important;
  }

  /* line 5, ../sass/custom/_responsive.scss */
  .menu > li:hover .sub-menu-himalaya {
    display: block !important;
  }

  /* line 8, ../sass/custom/_responsive.scss */
  #header {
    padding: 0;
    position: fixed;
    z-index: 10;
    opacity: .9;
    top: 0;
  }

  /* line 15, ../sass/custom/_responsive.scss */
  .main-content-wrapper {
    padding-top: 64px;
  }

  /* line 18, ../sass/custom/_responsive.scss */
  .menu.sub-menu-himalaya li {
    padding: 0px  !important;
  }

  /* line 21, ../sass/custom/_responsive.scss */
  .menu li a.is-active {
    border: none !important;
  }
}
@media (max-width: 1024px) {
  /* line 27, ../sass/custom/_responsive.scss */
  .meanmenu-reveal span {
    background: #000 !important;
  }

  /* line 30, ../sass/custom/_responsive.scss */
  .main-content-wrapper {
    position: relative;
    z-index: 0;
  }

  /* line 34, ../sass/custom/_responsive.scss */
  #header {
    position: relative;
    z-index: 1;
  }

  /* line 38, ../sass/custom/_responsive.scss */
  .meanmenu-reveal {
    top: 50% !important;
  }

  /* line 41, ../sass/custom/_responsive.scss */
  .mean-container .mean-nav {
    margin-top: 63px !important;
  }

  /* line 45, ../sass/custom/_responsive.scss */
  .logo {
    position: absolute;
  }

  /* line 48, ../sass/custom/_responsive.scss */
  .views_slideshow_cycle_teaser_section, .views_slideshow_cycle_slide {
    z-index: -1;
  }

  /* line 51, ../sass/custom/_responsive.scss */
  div#block-drupalservicestomakeyourwebpresenceshine {
    padding: 0 25px;
  }
}
@media (max-width: 992px) {
  /* line 57, ../sass/custom/_responsive.scss */
  #navigation {
    margin-bottom: 0px !important;
  }

  /* line 61, ../sass/custom/_responsive.scss */
  li.menu-item.menu-item--active-trail {
    background: red;
  }
  /* line 64, ../sass/custom/_responsive.scss */
  li.menu-item.menu-item--expanded {
    background: transparent;
  }
  /* line 69, ../sass/custom/_responsive.scss */
  li.menu-item.menu-item--expanded.menu-item--active-trail:hover a {
    color: #ffffff;
  }

  /* line 77, ../sass/custom/_responsive.scss */
  .main-menu ul {
    position: initial;
  }

  /* line 82, ../sass/custom/_responsive.scss */
  #navigation .menu a {
    color: #ffffff !important;
  }
  /* line 86, ../sass/custom/_responsive.scss */
  #navigation .menu ul a {
    color: #000000 !important;
  }

  /* line 92, ../sass/custom/_responsive.scss */
  .meanmenu-reveal {
    right: 15px !important;
  }

  /* line 97, ../sass/custom/_responsive.scss */
  #navigation .menu a {
    color: #ffffff !important;
  }

  /* line 102, ../sass/custom/_responsive.scss */
  .menu.sub-menu-himalaya {
    visibility: visible;
    opacity: 1;
  }
}
@media (min-width: 1024px) and (max-width: 1260px) {
  /* line 108, ../sass/custom/_responsive.scss */
  .menu li {
    margin-left: 0px;
  }
}
@media (min-width: 992px) and (max-width: 1080px) {
  /* line 113, ../sass/custom/_responsive.scss */
  .menu li {
    margin-left: 0px;
  }
  /* line 115, ../sass/custom/_responsive.scss */
  .menu li a {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 121, ../sass/custom/_responsive.scss */
  .slider-content {
    top: 10%;
    padding: 0 15px;
  }

  /* line 126, ../sass/custom/_responsive.scss */
  .path-frontpage .top-content {
    text-align: center;
    padding: 0 15px;
    width: 100%;
  }
  /* line 131, ../sass/custom/_responsive.scss */
  .path-frontpage .footer_first_wrapper {
    padding-left: 20px;
  }

  /* line 135, ../sass/custom/_responsive.scss */
  #block-views-block-our-work-block-1,
  #block-views-block-our-work-block-2 {
    width: 29.5%;
  }

  /* line 143, ../sass/custom/_responsive.scss */
  #block-views-block-our-work-block-4 .views-field.views-field-title .field-content,
  #block-views-block-our-work-block-1 .views-field.views-field-title .field-content,
  #block-views-block-our-work-block-2 .views-field.views-field-title .field-content {
    font-size: 2vw;
    padding-top: 10px !important;
  }

  /* line 149, ../sass/custom/_responsive.scss */
  .about-gai-block {
    text-align: left;
  }
  /* line 151, ../sass/custom/_responsive.scss */
  .about-gai-block .about-title {
    width: 35%;
  }
  /* line 154, ../sass/custom/_responsive.scss */
  .about-gai-block .about-desc {
    width: 63%;
  }

  /* line 158, ../sass/custom/_responsive.scss */
  #block-views-block-our-services-block-block-1 {
    padding: 15px;
  }
  /* line 160, ../sass/custom/_responsive.scss */
  #block-views-block-our-services-block-block-1 .views-row {
    padding: 10px;
  }

  /* line 165, ../sass/custom/_responsive.scss */
  .testimonial_block .views-row {
    padding-right: 15px;
  }
  /* line 167, ../sass/custom/_responsive.scss */
  .testimonial_block .views-row img {
    border-radius: 100%;
  }
  /* line 171, ../sass/custom/_responsive.scss */
  .testimonial_block .views-row .views-field-title a {
    font-size: 20px;
  }
  /* line 176, ../sass/custom/_responsive.scss */
  .testimonial_block h2 {
    text-align: left;
  }
  /* line 179, ../sass/custom/_responsive.scss */
  .testimonial_block .views-field.views-field-body {
    font-size: 16px;
  }

  /* line 183, ../sass/custom/_responsive.scss */
  #block-views-block-our-work-block-3 {
    text-align: center;
  }
  /* line 185, ../sass/custom/_responsive.scss */
  #block-views-block-our-work-block-3 .views-row {
    width: 32.8%;
  }

  /* line 189, ../sass/custom/_responsive.scss */
  .listing-of-our-work {
    text-align: center;
  }
  /* line 191, ../sass/custom/_responsive.scss */
  .listing-of-our-work .views-row {
    width: 30.8%;
  }

  /* line 195, ../sass/custom/_responsive.scss */
  .top-contributor {
    padding: 25px 15px;
  }
  /* line 197, ../sass/custom/_responsive.scss */
  .top-contributor .views-row {
    width: 30.9%;
  }

  /* line 202, ../sass/custom/_responsive.scss */
  .blogs-views-page .views-row {
    padding: 20px 15px;
  }

  /* line 206, ../sass/custom/_responsive.scss */
  .blogs {
    padding: 0 15px;
  }
  /* line 210, ../sass/custom/_responsive.scss */
  .blogs .node__content div:first-child div:last-child {
    width: 100%;
  }
}
@media (max-width: 520px) {
  /* line 220, ../sass/custom/_responsive.scss */
  .views_slideshow_cycle_slide img,
  .views_slideshow_cycle_teaser_section,
  .views_slideshow_cycle_slide {
    height: 265px !important;
  }
}
@media (min-width: 768px) {
  /* line 228, ../sass/custom/_responsive.scss */
  .node--view-mode-full .node__content.clearfix {
    padding: 0 20px;
  }

  /* line 234, ../sass/custom/_responsive.scss */
  .node--type-blogs .node--view-mode-full .node__content.clearfix {
    padding: 0 0px;
  }

  /* line 239, ../sass/custom/_responsive.scss */
  div#footer {
    margin-top: 3em;
  }

  /* line 245, ../sass/custom/_responsive.scss */
  .path-frontpage div#footer,
  .path-blogs div#footer,
  .path-contact div#footer {
    margin-top: 0;
  }

  /* line 249, ../sass/custom/_responsive.scss */
  .social__link-main--wrapper {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    min-height: 130px;
    flex-direction: row-reverse;
  }

  /* line 255, ../sass/custom/_responsive.scss */
  .footer__wrapper {
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
  }

  /* line 262, ../sass/custom/_responsive.scss */
  #block-views-block-our-services-block-block-1 {
    margin-bottom: -8.5vh;
  }
}
@media (max-width: 767px) {
  /* line 267, ../sass/custom/_responsive.scss */
  #block-views-block-our-work-block-1,
  #block-views-block-our-work-block-2,
  #block-views-block-our-work-block-4 {
    margin-right: 0px;
  }

  /* line 272, ../sass/custom/_responsive.scss */
  .slider-content {
    top: 8%;
  }

  /* line 275, ../sass/custom/_responsive.scss */
  #block-views-block-our-services-block-block-1 {
    padding: 15px 20px;
  }

  /* line 278, ../sass/custom/_responsive.scss */
  .node--view-mode-full {
    padding: 0 20px;
  }

  /* line 281, ../sass/custom/_responsive.scss */
  .blog-img {
    width: 100%;
    padding: 0 0px;
  }
  /* line 284, ../sass/custom/_responsive.scss */
  .blog-img img {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    padding-bottom: 15px;
  }

  /* line 289, ../sass/custom/_responsive.scss */
  .blog-content {
    width: 100%;
    padding: 0 0px;
  }

  /* line 293, ../sass/custom/_responsive.scss */
  .blog-body {
    font-size: 16px;
  }

  /* line 297, ../sass/custom/_responsive.scss */
  .top-contributor .views-row {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 20px;
  }
  /* line 303, ../sass/custom/_responsive.scss */
  .top-contributor .views-field-field-image {
    text-align: center;
  }
  /* line 305, ../sass/custom/_responsive.scss */
  .top-contributor .views-field-field-image img {
    width: auto;
  }

  /* line 311, ../sass/custom/_responsive.scss */
  #block-gmap iframe {
    height: 300px;
  }

  /* line 316, ../sass/custom/_responsive.scss */
  .be-contact-column-inner .contact-us-wrap {
    width: 100%;
    padding: 0 20px;
  }
  /* line 319, ../sass/custom/_responsive.scss */
  .be-contact-column-inner .contact-us-wrap img {
    max-width: 20%;
    width: 100%;
  }

  /* line 325, ../sass/custom/_responsive.scss */
  .our-work-node-desc {
    padding: 0px 0px;
  }

  /* line 328, ../sass/custom/_responsive.scss */
  .career__detail--wrapper {
    margin-top: 15px;
  }

  /* line 331, ../sass/custom/_responsive.scss */
  .contact__detail--wrapper {
    margin-top: 3em;
    margin-bottom: 1.2em;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* line 338, ../sass/custom/_responsive.scss */
  .social__link {
    padding-left: 0px;
  }

  /* line 341, ../sass/custom/_responsive.scss */
  #footer {
    height: auto;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 348, ../sass/custom/_responsive.scss */
  span.slider-title a {
    font-size: 32px;
    line-height: normal;
  }

  /* line 352, ../sass/custom/_responsive.scss */
  .about-gai-block {
    text-align: left;
  }

  /* line 356, ../sass/custom/_responsive.scss */
  .path-frontpage .top-content {
    max-width: 100%;
    margin-bottom: 25px !important;
    padding: 0px 20px;
    text-align: center;
  }
  /* line 362, ../sass/custom/_responsive.scss */
  .path-frontpage .footer_first_wrapper {
    width: 100%;
    padding: 0 20px;
  }
  /* line 367, ../sass/custom/_responsive.scss */
  .path-frontpage .footer_fourth_wrapper {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }

  /* line 378, ../sass/custom/_responsive.scss */
  #block-views-block-our-work-block-4 .views-field.views-field-title .field-content,
  #block-views-block-our-work-block-1 .views-field.views-field-title .field-content,
  #block-views-block-our-work-block-2 .views-field.views-field-title .field-content {
    font-size: 2vw;
    padding-top: 15px !important;
    padding: 0 15px;
  }

  /* line 386, ../sass/custom/_responsive.scss */
  .about-gai-block .about-title {
    width: 100%;
    text-align: center;
  }
  /* line 389, ../sass/custom/_responsive.scss */
  .about-gai-block .about-title h2 {
    font-size: 42px;
    margin-bottom: 0;
    margin-top: 0;
  }
  /* line 395, ../sass/custom/_responsive.scss */
  .about-gai-block .about-desc {
    font-size: 18px;
    width: 100%;
  }

  /* line 401, ../sass/custom/_responsive.scss */
  #block-views-block-our-services-block-block-1 .views-row {
    padding: 0px 10px;
  }

  /* line 408, ../sass/custom/_responsive.scss */
  .testimonial_block .views-row .views-field-field-image {
    min-height: auto;
  }
  /* line 410, ../sass/custom/_responsive.scss */
  .testimonial_block .views-row .views-field-field-image img {
    height: initial !important;
  }
  /* line 414, ../sass/custom/_responsive.scss */
  .testimonial_block .views-row .views-field-title a {
    font-size: 3vw;
  }
  /* line 418, ../sass/custom/_responsive.scss */
  .testimonial_block .views-field.views-field-body {
    font-size: 14px;
  }

  /* line 423, ../sass/custom/_responsive.scss */
  #block-views-block-our-work-block-3 .views-row {
    width: 49%;
  }

  /* line 427, ../sass/custom/_responsive.scss */
  .listing-of-our-work {
    text-align: center;
  }
  /* line 429, ../sass/custom/_responsive.scss */
  .listing-of-our-work .views-row {
    width: 44.9%;
    margin-left: 2%;
    margin-right: 2%;
  }

  /* line 435, ../sass/custom/_responsive.scss */
  .our-work-description {
    padding: 0 20px;
  }
}
@media (max-width: 480px) {
  /* line 442, ../sass/custom/_responsive.scss */
  span.slider-title a {
    font-size: 24px;
    line-height: normal;
  }

  /* line 446, ../sass/custom/_responsive.scss */
  span.slider-des {
    font-size: 18px;
    line-height: normal;
    padding: 0px 20px;
    width: 100%;
    display: block;
  }

  /* line 454, ../sass/custom/_responsive.scss */
  .path-frontpage .top-content {
    max-width: 300px;
  }
  /* line 457, ../sass/custom/_responsive.scss */
  .path-frontpage .footer_first_wrapper {
    width: 100%;
    padding-bottom: 30px;
    padding-left: 0;
  }
  /* line 462, ../sass/custom/_responsive.scss */
  .path-frontpage .footer_fourth_wrapper {
    width: 100%;
    text-align: center;
  }

  /* line 467, ../sass/custom/_responsive.scss */
  #block-views-block-our-work-block-4,
  #block-views-block-our-work-block-1,
  #block-views-block-our-work-block-2 {
    width: 100%;
  }
  /* line 472, ../sass/custom/_responsive.scss */
  #block-views-block-our-work-block-4 .views-field.views-field-title .field-content,
  #block-views-block-our-work-block-1 .views-field.views-field-title .field-content,
  #block-views-block-our-work-block-2 .views-field.views-field-title .field-content {
    font-size: 20px;
    padding-top: 20px !important;
  }

  /* line 479, ../sass/custom/_responsive.scss */
  .about-gai-block .about-title,
  .about-gai-block .about-desc {
    width: 100%;
  }
  /* line 482, ../sass/custom/_responsive.scss */
  .about-gai-block .about-title h2,
  .about-gai-block .about-desc h2 {
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* line 490, ../sass/custom/_responsive.scss */
  #block-views-block-our-services-block-block-1 .views-row {
    width: 100%;
  }
  /* line 493, ../sass/custom/_responsive.scss */
  #block-views-block-our-services-block-block-1 h2 {
    font-size: 22px;
  }

  /* line 497, ../sass/custom/_responsive.scss */
  #footer-columns {
    padding: 0 20px;
  }

  /* line 501, ../sass/custom/_responsive.scss */
  .testimonial_block h2 {
    font-size: 22px;
    margin-top: 0;
  }
  /* line 506, ../sass/custom/_responsive.scss */
  .testimonial_block .views-row .views-field-field-image {
    padding-right: 0;
    width: 100%;
    text-align: center;
    min-height: initial;
  }
  /* line 511, ../sass/custom/_responsive.scss */
  .testimonial_block .views-row .views-field-field-image img {
    border-radius: 10px;
    height: initial !important;
  }
  /* line 517, ../sass/custom/_responsive.scss */
  .testimonial_block .views-row .views-field-title a {
    font-size: 16px;
  }
  /* line 521, ../sass/custom/_responsive.scss */
  .testimonial_block .views-row .views-field.views-field-body {
    font-size: 12px;
  }

  /* line 527, ../sass/custom/_responsive.scss */
  .views-exposed-form select {
    width: 175px;
  }

  /* line 532, ../sass/custom/_responsive.scss */
  #block-views-block-our-work-block-3 .views-row {
    width: 100%;
  }

  /* line 536, ../sass/custom/_responsive.scss */
  .listing-of-our-work {
    text-align: center;
    max-width: 360px;
  }
  /* line 539, ../sass/custom/_responsive.scss */
  .listing-of-our-work .views-row {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }

  /* line 545, ../sass/custom/_responsive.scss */
  .our-work-description {
    padding: 0 20px;
  }

  /* line 549, ../sass/custom/_responsive.scss */
  .blogs-views-page header {
    padding: 10% 0;
    font-size: 40px;
  }

  /* line 554, ../sass/custom/_responsive.scss */
  h1#page__node--title {
    padding: 10% 20px;
    font-size: 40px;
  }
}
